@import "../helpers/variables";
@import "../helpers/mixins";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
}

.main {
  h2 {
    color: #bcbab8;
  }

  .find {
    background: #1ECA88;
  }
}

form {
  display: flex;
  justify-content: center;
  .find {
    margin-left: 10px;
    background: #1ECA88;
    padding: 12px;
    font: {
      size: 13px;
    }
    color: white;
    border: none;
    outline: none;
    width: 100px;
  }

  .findbar {
    flex: 1;
    width: 500px;
    padding: 10px;
    outline: none;
    font: {
     size: 13px;
    }
    color: #555;
  }
  .first-input {
    display: flex;
    span {
      margin-left: -60px;
      margin-top: 7px;
      padding: 0;
    }
  }
}

.book-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.books {
  // background-color: #F4F5F6;
  // padding: 15px;
  display: flex;
  flex-wrap: wrap;
  // margin-right: 24px;
  flex-direction: row;
  justify-content: center;
  // overflow-y: auto;
  .initial-message {
    margin-top: 150px;
  }
}