@import "../helpers/variables";
@import "../helpers/mixins";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  background: rgba(197, 197, 197, 0.452);
}

.main {
  h2 {
    color: rgb(135, 139, 143);
    font-weight: bolder;
  }

  .find {
    background: #1ECA88;
  }
}

form {
  display: flex;
  justify-content: center;
  .find {
    margin-left: 10px;
    background: #1ECA88;
    padding: 12px;
    font: {
      size: 13px;
    }
    color: white;
    border: none;
    outline: none;
    width: 100px;
  }

  .findbar {
    flex: 1;
    width: 500px;
    padding: 10px;
    outline: none;
    font: {
     size: 13px;
    }
    color: #555;
  }
  .first-input {
    display: flex;
    .show-span {
      margin-left: -60px;
      margin-top: 7px;
      font-size: 5px;
      padding: 0;
      color: #AEB4BA;
      cursor: pointer;
    }
    .hide-span {
      visibility: hidden;
      margin-left: -60px;
      margin-top: 7px;
      font-size: 5px;
      padding: 0;
      color: #AEB4BA;
      cursor: pointer;
    }
  }
}

.book-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.books {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  .initial-message {
    margin-top: 150px;
    color: rgb(136, 144, 151);
    font-size: 20px;
  }
}